

/* index phone view  */

@media screen and (max-width: 770px) {




.cover{
	background-image: url(img/indexpp.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

.mid {

	text-align: center;
	position: absolute;
	top: 30%;
	left:28%;
    margin-left: -100px;



}




/*     gallery.css phone view   */

@media only screen and (max-width: 750px) {
    .container {
        width: calc(50% - 6px);
    }

   .butt{
    position: absolute;
    left:38%;
}


footer{
    font-size: 12px;
    margin-top: 5px;
}
 
}
@media only screen and (max-width: 450px) {
    .container {
        width: 100%;
    }

}

/*   personal phone view */
@media screen and (max-width: 770px){

.coverr{
    background-image: url(img/backkg.jpg);
    background-size:cover;
    opacity: 0.7;
}

.midper{
    text-align: center;
    position: absolute;
    top: 33%;
    left:53%;
    margin-left: -50px;
    color:black;

}



@media screen and (max-width: 320px){

.coverr{
    background-image: url(img/backkg.jpg);
    background-size:cover;
    opacity: 0.7;
}

.midper{
    text-align: center;
    position: absolute;
    top: 37%;
    left:45%;
    font-size: 15px;
    margin-left: -50px;
    color:black;

}


}

/*   web phone view */
@media screen and (max-width: 500px){

.gif {
    height: 120px;
    width: 250px;
}

.mid-web{
    text-align: center;
    position: absolute;
    top: 25%;
    left:55px;
}

}
